* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}

.content {
  width: 70%;
  min-height: 70vh;
  margin: 10vh auto;
  background-color: rgb(223, 240, 255);
  padding: 20px;
}

.content header,
h3 {
  color: darkblue;
}

.content .sub-content p {
  margin-left: 10px;
  text-align: justify;
}

.content .img-container,
.content .sub-content {
  margin-top: 20px;
}

.content header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  font-weight: bold;
  margin: 20px 0 40px 0;
}
.img-container {
  width: 400px;
  height: 350px;
  overflow: hidden;
  margin: 0 auto;
}

.img-container img {
  width: inherit;
}

.back-button {
  padding: 8px 15px;
  background-color: rgb(184, 222, 255);
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  cursor: pointer;
}

.link a {
  color: darkmagenta;
}
.link a:hover {
  text-decoration: underline;
}

.sub-content h3 {
  margin: 10px 0;
}
